.login-form {
    box-shadow: 0 0 10px gray;
    border-radius: 5px;
    display: block;
    width: 250px;
    padding: 20px 40px;
    margin: 0 auto;
    transform: translateY(50%);
}
.login-input {
	width: 100%;
	border-radius: 2px;
	padding: 4px 5px;
	background-color: #FFF;
	color: #666;
	border: 1px #888 solid;
}
.login-form > {
	margin: 5px 0px;
}
.login-btn {
	width: 100%;
	border-radius: 3px;
	background-color: #084B8A;
	color: #FFF;
	padding: 3px 0px;
	border: 1px #F6E3CE solid;
	transition: background-color 1s;
}
.login-btn:hover {
    background-color: #58D3F7;
}
.redirect-btn {
    width: 110px;
}
.label-margin {
    margin: 5px 0px;
    display: inline-block;
}
.compulsory::after {
    content: " *";
    color: red;
}
textarea {
    resize: none;
}
.error {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}
.deleted * {
    margin: 0 auto;
}
.form-group img {
    width: 100%;
    display: block;
}
.unvisible {
    display: none;
}
.row {
    margin-top: 15px;
}
.content-container {
    margin-bottom: 20px;
}
textarea.form-control {
    height: 200px;
}
img.control {
    width: 19px;
}
.inline-control {
    width: 100px !important;
}
br.skip {
    margin-bottom: 15px;
}
.content > img, .picture img {
    width: 100%;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #3c3c3c;

    font-size: 14px;
    line-height: 1.42857143;
}
h1.section-title {
    text-transform: uppercase;
    font-size: 48px;
    text-align: center;
    margin-bottom: 92px;
    margin-top: 16px;
}
h1.section-title::after {
    position: relative;
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background: #f60;
    left: 50%;
    margin-left: -20px;
    margin-top: 26px;
}
.sub-text {
    border-left: 3px solid #f60;
    padding-left: 20px;
    text-align: justify;
}
.info {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    text-align: justify;
}
.info * {
    font-size: 14px;
}
.info td {
    padding: 6px 10px 6px 20px;
}
.info .type {
    background: url("../img/bckgr-type.png") 0 11px no-repeat;
    color: #f60;
    width: 40%;
}
.content-container {
    margin-bottom: 50px;
}
.text-container {
    background-color: rgb(237,237,237);
    border-radius: 10px;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
}
.rating > a:hover:before,
.rating > a:hover ~ a:before
{
    content: "\2605";
    position: absolute;
}
.rating a,
.rating a:hover,
.rating span {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.panel-rating {
    padding: 10px;
}

.justify {
    text-align: justify;
}
.rating-form {
    margin: 20px;
}

* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.wrapper {
    position: relative;
    min-height: calc(100% - 72px);
}
.content {
    padding-bottom: 240px;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 230px;
}

/** Styling input[type=file] **/
.btn-file {
    position: relative;
    overflow: hidden;
    margin-right: 4px;
}
.btn-file input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}
/* Fix for IE 7: */
* + html .btn-file {
    padding: 2px 15px;
    margin: 1px 0 0 0;
}